COMPOSE_PROJECT_NAME=fisar-cdj
WP_PORT=8090
WORDPRESS_DB_NAME=fisar_cdj
WORDPRESS_DB_USER=fisar_cdj
WORDPRESS_DB_PASSWORD=fisar_cdj_local
WORDPRESS_DB_ROOT_PASSWORD=fisar_cdj_root_local
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=admin_local_change_me
WORDPRESS_ADMIN_EMAIL=admin@fisar-cdj.test
WORDPRESS_SITE_TITLE=FISAR Castelli di Jesi
WORDPRESS_SITE_URL=http://localhost:8090
